{% extends 'site/layout.html.twig' %}

{% block title %}{{ page.metaTitle ?: page.title }}{% endblock %}

{% block meta %}
    {% if page.metaDescription %}
        <meta name="description" content="{{ page.metaDescription|e('html_attr') }}">
    {% endif %}
{% endblock %}

{% block nav %}
    {% include 'site/_nav.html.twig' %}
{% endblock %}

{% block body %}
    <main id="contenu" class="stack">
        {% for section in page.enabledSections %}
            {% include section.kind.template() with {
                section,
            } only %}
        {% endfor %}
    </main>
{% endblock %}

{% block footer %}
    {% include 'site/_footer.html.twig' %}
{% endblock %}
